@import "./palette.css";

body {
  margin: 0;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem 1.25rem;
  position: relative;
  z-index: 1000;
}

.desktop-title {
  color: white;
  text-decoration: none;
}

.navLink {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.25rem;
}

/* Desktop nav */
.navi {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.sign-up, .dashboard, .logout {
    text-align: center;
    cursor: pointer;
    margin-left: 1.25rem;
    border-radius: 6px;
    padding-block: .5rem;
    padding-inline: 1.25rem;
    transition: background-color ease-in .1s;
}

.sign-up {
  background-color: var(--color-accent);
}

.sign-up:hover {
    background-color: var(--color-accent-hover);
}

.dashboard {
  color: black;
  background-color: #f9cf3a;
}

.dashboard:hover {
    background-color: #e0ba2f;
}

.logout {
  border: 0;
  background-color: rgb(175, 22, 22);
}

.logout:hover {
    background-color: rgb(108, 20, 20);
}

/* Mobile nav */
@media (max-width: 768px) {
  .title {
    padding: 1rem;
    display: flex; /* hide title on mobile */
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .navWrapper {
    padding:.75rem;
    display: block;
  }

  .navi {
    padding: 0;
  }

  .sign-up {
    justify-content: center;
    margin-left: 1rem;
    padding-inline: .5rem;
    width: 60px;
  }

  .navLink {
    padding: .75rem 1rem;
  }
}